body{
    align-content: center;
}

#div_1{
    width: 49%;
    font-size: 20px;
    float: left;
    
}

#div_2{
    top: 0px;
    width: 49%;
    font-size: 20px;
    float: right;
}
h1{
    text-align: center;
    color: red;
}